* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#navbar {
  list-style: none;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#navbar img {
  height: 100px;
  width: auto;
}

#navbar a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  transition: all 0.3s linear;
}

#navbar a:hover {
  color: #e06d06;
}

#navbar a.active {
  font-weight: 700;
  color: #e06d06;
  border-bottom: 2px solid #e06d06;
}

#meals-count {
  color: #e06d06;
}

#navbar a > #meals-count {
  color: black;
}

main {
  display: flex;
}

#items {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 10%;
  gap: 10%;
  justify-content: center;
}

.item {
  width: 20%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.images {
  width: 100%;
}

.images:hover {
  cursor: pointer;
}

.details {
  display: flex;
  justify-content: space-between;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-likes:hover {
  cursor: pointer;
}

footer {
  border-top: 2px solid black;
  margin: 10px 10%;
}

footer p {
  padding: 30px;
}
